#!/sbin/openrc-run

name="Xvfb"
description="X virtual framebuffer"

command="/usr/bin/Xvfb"
command_args="{{ xvfb_display }} -screen 0 {{ xvfb_screen_resolution | default('1024x768x24') }}"
pidfile="/var/run/xvfb/xvfb.pid"

depend() {
    need net
    use dns logger
    after firewall
}

start_pre() {
    checkpath --directory --owner root:root --mode 0755 /var/run/xvfb
}
